<% if @ideas.present? %>
  <% @ideas.each_slice(3) do |ideas| %>
    <div class="row mb-5">
      <% ideas.each do |idea| %>
        <div class="col-sm-4">
          <div class="card">
              <%= image_tag 'idea-bg.jpg', class: 'card-img-top', style: 'min-height: 265px; max-height: 265px;' %>
              <div class="card-body">
                <h5 class="card-title"><%= idea.title %></h5>
                <p>
                  <small>
                    <% idea.categories.each do |category| %>
                      <%= link_to category.name, root_path(categoria: category)  %> |
                    <% end %>
                  </small>
                </p>
                <small class="card-subtitle mb-2 text-muted">
                  Por: <%= link_to idea.user.full_name, nil %> hace <%= time_ago_in_words(idea.created_at) %> <br>
                  <%= idea.total_likes %> likes // <%= idea.total_comments %> comentarios
                </small>
              </div>
              <p class="card-text"><%= idea.body.truncate(140) %> <%= link_to "Ver más..", idea_path(idea) %></p>
              <div class="card-footer">
                <%= render "/layouts/shared/like_button", idea: idea %>
              </div>
          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <p>No existen ideas registradas <%= link_to "Crea la primer idea", new_idea_path %> </p>
  <% else %>
    <p>No existen ideas registraadas <%= link_to "Ingresa para crear la primera idea", new_user_session_path %></p>
  <% end %>
<% end %>