<% if @ideas.present? %>
  <nav class="navbar-expand-lg navbar-light bg-light pb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <%= link_to "<i class='fas fa-filter'></i> Más populares".html_safe, "#", class: 'nav-link' %>
        <%= link_to "Más recientes", "#", class: 'nav-link' %>
        <%= link_to "Más antiguas", "#", class: 'nav-link' %>
      </ul>
    </div>
  </nav>

  <% @ideas.each_slice(3) do |ideas| %>
    <div class="row mb-5">
      <% ideas.each do |idea| %>
        <div class="col-sm-4">
          <div class="card">
            <% if idea.image.attached? %>
              <%= image_tag idea.image, style: 'min-height: 265px; max-height: 265px;' %>                
            <% else %>            
              <%= image_tag 'gray.jpg', class: 'card-img-top', style: 'min-height: 265px; max-height: 265px;' %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= idea.title %></h5>
              <p>
                <small>
                  <% idea.categories.each do |category| %>
                    <%= link_to category.name, root_path(categoria: category)  %> |
                  <% end %>
                </small>
              </p>
              <small class="card-subtitle mb-2 text-muted">
                Por: <%= link_to idea.user.full_name, nil %> hace <%= time_ago_in_words(idea.created_at) %> <br>                  
                <%= idea.total_likes %>                                    
                  <a data-toggle="tooltip"  href="#" data-placement="right" title="Esta propuesta le gusta a: <% idea.likes.each do |like| %><%= like.user.full_name %> <% end %>">
                    <%= idea.total_likes==1 ? "like" : "likes" %>
                  </a>//
                <%= idea.total_comments %> <%= idea.total_comments == 1 ? "comentario" : "comentarios" %>
              </small>
            </div>
            <p class="card-text"><%= idea.body.truncate(140) %></p>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <%= render 'layouts/shared/like_button', idea: idea %>
                </div>
                <div class="col-sm-6">
                  <%= link_to "<i class='fas fa-external-link-alt'></i> Leer mas".html_safe, idea_path(idea), class: 'btn btn-link' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <p>No existen propuestas publicadas <%= link_to "Publica la primer propuesta en Walapolis", new_idea_path %> </p>
  <% else %>
    <p>No existen propuestas publicadas <%= link_to "Ingresa para publicar la primera propuesta en Walapolis", new_user_session_path %></p>
  <% end %>
<% end %>