<h3 class="font-weight-light">Mis Ideas</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Categorias</th>
      <th scope="col">Likes</th>
      <th scope="col">Comentarios</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <th scope="row"><%= idea.title %></th>
        <td><%= idea.show_categories %></td>
        <td><%= idea.total_likes %></td>
        <td><%= idea.total_comments %></td>
        <td><%= link_to "Ver idea", idea_path(idea) %></td>
      <td><%= link_to "Editar idea", edit_idea_path(idea) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<span class="py-4">
  <%= link_to "<i class='far fa-lightbulb'></i> Nueva idea".html_safe, new_idea_path, class: 'btn btn-primary' %>
</span>