<div class="idea-bg text-center">
  <div style="padding-top: '80px'; padding-bottom: '80px'; background-color:'rgba(255,255,255,0.8)';">
    <h1><%= @idea.title %></h1>
    <p>
      <% @idea.categories.each do |category| %>
        <span><%= link_to category.name, root_path(categoria: category) %></span>
      <% end %>
    </p>
    <p class="text-success">
      <span class="count-likes"><%= @idea.total_likes %></span> <%= @idea.total_likes==1 ? "like" : "likes" %>
    </p>
    <div class="user-avatar">
      <% if @idea.user.image.attached? %>
        <%= image_tag @idea.user.image, width: '90', class: 'rounded-circle' %>
      <% else %>
        <i class="fas fa-user-circle fa-3x"></i> <!-- current_user.image -->        
      <% end %>
      <p>
        <span><%= @idea.user.full_name %></span>
        <% if @idea.user.verificated? %>
          <span class="text-primary"><i class="far fa-check-circle"></i>Verificado</span>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="row pt-4 pb-4">
  <div class="col-sm-8">
    <p><span style="font-weight: '700'; font-size: '22px';"><%= @idea.title %></span> - <%= @idea.show_categories %></p>
    <p>Por: <%= @idea.user.image.attached? ? (image_tag @idea.user.image, width: '20', class: 'rounded-circle') :  "<i class='fas fa-user-circle'></i>".html_safe %> <%= @idea.user.full_name %> - <%= @idea.created_at.strftime("%d/%m/%y") %></p>
    <div>
      <%= render "/layouts/shared/like_button", idea: @idea %>
      <span class="text-success"><span class="count-likes"><%= @idea.total_likes %></span> <%= @idea.total_likes==1 ? "like" : "likes" %></span>
      <% if @idea.user == current_user %> 
        <span class="ml-5"><%= link_to "<i class='far fa-edit'></i> Editar idea".html_safe, edit_idea_path(@idea) %></span>
      <% end %>
    </div>

    <div id="idea-body" class="text-justify p-3">
      <%= @idea.body %>
    </div>

    <div id="social_links">
      <small>Compartir</small>
      <hr>
      <input type="text" name="idea-url" value="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" class="form-control" readonly>
      <div class="mt-3">
        <%= link_to "<i class='fab fa-facebook fa-2x'></i>".html_safe, nil, class: 'mr-3' %>
        <%= link_to "<i class='fab fa-twitter fa-2x'></i>".html_safe, nil, class: 'mr-3' %>
        <%= link_to "<i class='fab fa-google fa-2x'></i>".html_safe, nil %>
      </div>
    </div>

    <div id="comments">
      <div class="mb-3 text-right">
        <small><%= @idea.total_comments %> <%= @idea.total_comments == 1 ? "comentario" : "comentarios" %></small>
      </div>
      <div class="card">
        <div class="card-header">
          <p>Deja tu comentario</p>
          <% if user_signed_in? %>
            <%= render 'comments/form', comment: @comment %>
          <% else %>
            <p>Para participar en los comentarios <%= link_to "Iniciar sesión", new_user_session_path %></p>
          <% end %>
        </div>
        <div class="card-body">
          <% if @idea.total_comments == 0 %>
            <p class="pt-3">No se han dejado comentarios...</p>
          <% else %>
            <%= render 'comments/index' %>
          <% end %>
        </div>
        <% if @comments.count > 10 %>
          <div class="card-footer">
            <p>Deja tu comentario</p>
            <% if user_signed_in? %>
              <%= render 'comments/form', comment: @comment %>
            <% else %>
              <p>Para participar en los comentarios <%= link_to "Iniciar sesión", new_user_session_path %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Termina primera columna -->

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header"><h4>Beneficios</h4></div>
      <div class="card-body">          
        <ul class="list-unstyled">
          <% @idea.benefits.each do |benefit| %>
            <li><i class="fas fa-check text-success"></i> <%= benefit %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header"><h4>Costo estimado</h4></div>
      <div class="card-body">
        <div>Inversión inicial:
          <input type="text" value="<%= number_to_currency(@idea.initial_cost) %> " class="form-control" readonly>
        </div>
        <div class="mt-3">Gasto mensual:
          <input type="text" value="<%= number_to_currency(@idea.monthly_cost) %> " class="form-control" readonly>
        </div>              
      </div>
      <div class="card-footer">
        <small>La <strong>inversión inicial</strong> se refiere al monto estimado requerido para arrancar el proyecto y el <strong>gasto mensual</strong> necesario para mantenerlo activo.</small>
      </div>
    </div>
      
    <div class="card mt-4">
      <div class="card-header"><h4>Tiempo estimado</h4><small>(para entregar el proyecto)</small></div>
      <div class="card-body">
        <% if (@idea.estimated_time == 0) || (@idea.estimated_time.nil?) %>
          <h4>No se asigno un tiempo estimado</h4>
        <% elsif @idea.estimated_time > 1 %>          
          <h4 class="text-success text-center"><%= @idea.estimated_time %> meses</h4>
          <% else %>
          <h4 class="text-success text-center"><%= @idea.estimated_time %> mes</h4>            
        <% end %>
      </div>
    </div>

    <% if @idea.user.show_phone? || @idea.user.show_email? %>
      <div class="card mt-4">
        <div class="card-header"><h4>Hablar con <%= @idea.user.first_name.titleize %></h4></div>
        <div class="card-body">
          <% if @idea.user.show_phone? && @idea.user.phone.present? %>
            <div>
                <%= link_to "<i class='fab fa-whatsapp'></i> Enviar WhatsApp".html_safe, "https://api.whatsapp.com/send?phone=521#{@idea.user.phone}&text=Hola #{@idea.user.first_name}, me gustaría colaborar en tu propuesta publicada en #{request.protocol}#{request.host_with_port}#{request.fullpath} ¿Platicamos?", target: "_blank", class: 'btn btn-outline-primary btn-block' %>
            </div>
          <% end %>
          <% if @idea.user.show_email? %>
            <div class="mt-3">
                <%= link_to "<i class='fas fa-envelope'></i>Enviar Email".html_safe, "mailto: #{@idea.user.email}?subject=Quiero participar en tu idea&body=Hola #{@idea.user.first_name}, me gustaría colaborar en tu propuesta publicada en #{request.protocol}#{request.host_with_port}#{request.fullpath} ¿Platicamos?", class: 'btn btn-outline-primary btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
