<%= render 'layouts/shared/greetings' %>

<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "No cerrar sesión" %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Entrar", class: 'btn btn-outline-primary btn-block' %>
  </div>

  <div class="form-group text-center">
    <%= link_to "He olvidado mi contraseña", new_user_password_path %>
  </div>
<% end %>

<hr>
<div class="row">
  <div class="col-sm-6">
    <%= link_to "<i class='fab fa-facebook'></i> Registrarme con Facebook".html_safe, user_facebook_omniauth_authorize_path, method: :post, class: 'btn btn-success btn-block' %>
  </div>
  <div class="col-sm-6">
    <%= link_to "<i class='fab fa-google'></i> Registrarme con Google".html_safe, user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-success btn-block' %>
  </div>
</div>

<div class="text-center">
  <%= render "users/shared/links" %>
</div>
