<h2 class="font-weight-ligth">¿Olvidaste tu contraseña?</h2>
<hr>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    <small>Si la direccion de correo electronico existe, te enviaremos un email con instrucciones para reestablecer tu contraseña.</small>
  </div>

  <div class="form-group">
    <%= f.submit "Enviarme instrucciones", class: 'btn btn-primary' %>
  </div>
<% end %>
